html{height: 100%;}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
.dashboard-nav {
  width: 10%;
  float: left;
  color: black;
  height: 100%;
  background-color: white;
  text-align: center;
}
.dashboard-wide {
  float: right;
  height: 100%;
  width: 90%;
  overflow: scroll;
}
.nav-button {
  text-align: left;
  margin: 0px;
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: white;
  color: black;
  border: none;
  width: 100%;
  display: inline-block;
}
.header {
  background-color: white;
  height: 50px;
  width: 90%;
  border: 1px solid black;
  position: fixed;
}
.header-right {
  margin-left: 30px;
  float: right;
}
.header-left {
  margin-left: 15px;
  float: left;
}
.header-left, .header-right, .header-left *, .header-right * {
  height: 100%;
  font-size: 20px;
}
.placeholder {
  height: 50px;
  width: 100%;
}
.hidden {
  background-color: transparent;
  border: none;
}
#back {
  font-size: 20px;
}
.main {
  height: calc(100%-100px);
  width: 100%;
  background-color: white;
  text-align: center;
  overflow: scroll;
}
#user-greeting {
  margin: 0px;
  margin-bottom: 100px;
  height: 300px;
  font-size: 100px;
  color: white;
  width: 100%;
  background-color: #222222;
}
#home {
  width: 100%;
  height: 100%;
}
.quick-links {
  padding: 10px;
  border: 1px solid lightskyblue;
  border-radius: 2px;
  width: 40%;
  height: 200px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 30px;
  float: left;
  background-color: white;
}
.daily-reward {
  padding: 10px;
  width: 40%;
  height: 200px;
  border: 1px solid lightslategray;
  border-radius: 2px;
  margin-bottom: 30px;
  margin-left: 4%;
  margin-right: 4%;
  float: right;
  background-color: white;
}
.news {
  padding: 10px;
  width: 40%;
  height: 200px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 30px;
  border: 1px solid orangered;
  border-radius: 2px;
  float: left;
  background-color: white;
}
.online {
  width: 40%;
  height: 200px;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #060633;
  border-radius: 2px;
  margin-right: 4%;
  margin-left: 4%;
  float: right;
  background-color: white;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#log-container span {
  width: 100%;
  border: none;
  color: green;
  text-align: left;
  background-color: black;
  display: block;
}
