<h1> Pixel Tanks level maker</h1>
<div id='output'>Output will be here</div>
<canvas id='canvas' width='500' height='500' style='border: 1px solid black;'></canvas>
<div>
  <button onclick='current="player";'>Player</button>
  <button onclick='current="void";'>Void</button>
  <button onclick='current="ai_n";'>Normal Ai</button>
  <button onclick='current="ai_s";'>Shotgun Ai</button>
  <button onclick='current="ai_c";'>Condensed Ai</button>
  <button onclick='current="ai_d";'>Stupid Ai</button>
  <button onclick='current="ai_t_n"'>Normal Turret Ai</button>
  <button onclick='current="ai_t_u"'>PowerBullet Turret</button>
  <button onclick='current="wall";'>Invincible Block</button>
  <button onclick='current="strong";'>Strong Block</button>
  <button onclick='current="weak";'>Weak Block</button>
  <button onclick='grid=!grid;'>Grid(On/Off)</button>
  For speacial features, like invisibility, tell me the coordinances of the tank.
</div>
<script>
try {
var canvas = document.getElementById('canvas');
var draw = canvas.getContext('2d');
var mousepos = [-1, -1];
var level = [];
var l = 0;
while (l<30) {
  level.push('                              ');
  l++;
}
var scale = 500/30;
var current = 'player';
var grid = true;
/* player ai_n ai_s ai_d ai_c wall strong weak void*/
var placing = false;
canvas.addEventListener('mousedown', function() {
  placing = true;
});
canvas.addEventListener('mouseup', function() {
  placing = false;
});
canvas.addEventListener('mousemove', function(e) {
  if (!placing) return;
  var x = e.pageX - canvas.offsetLeft;
  var y = e.pageY - canvas.offsetTop;
  x = (x-x%scale)/scale;
  y = (y-y%scale)/scale;
  if (current == 'player') {
    var l = 0;
    while (l<level.length) {
      level[l] = level[l].split('');
      var q = 0;
      while (q<level[l].length) {
        if (level[l][q] == '@') {
          level[l][q] = ' ';
        }
        q++;
      }
      level[l] = level[l].join('');
      l++;
    }
    level[y] = level[y].split('');
    level[y][x] = '@';
    level[y] = level[y].join('');
  }
  if (current == 'ai_n') {
    level[y] = level[y].split('');
    level[y][x] = 'I';
    level[y] = level[y].join('');
  }
  if (current == 'ai_s') {
    level[y] = level[y].split('');
    level[y][x] = 'A';
    level[y] = level[y].join('');
  }
  if (current == 'ai_d') {
    level[y] = level[y].split('');
    level[y][x] = 'W';
    level[y] = level[y].join('');
  }
  if (current == 'ai_c') {
    level[y] = level[y].split('');
    level[y][x] = 'C'
    level[y] = level[y].join('');
  }
  if (current == 'ai_t_n') {
    level[y] = level[y].split('');
    level[y][x] = 'T';
    level[y] = level[y].join('');
  }
  if (current == 'ai_t_s') {
    level[y] = level[y].split('');
    level[y][x] = 'U';
    level[y] = level[y].join('');
  }
  if (current == 'wall') {
    level[y] = level[y].split('');
    level[y][x] = '#';
    level[y] = level[y].join('');
  }
  if (current == 'strong') {
    level[y] = level[y].split('');
    level[y][x] = '2';
    level[y] = level[y].join('');
  }
  if (current == 'weak') {
    level[y] = level[y].split('');
    level[y][x] = '1';
    level[y] = level[y].join('');
  }
  if (current == 'void') {
    level[y] = level[y].split('');
    level[y][x] = '='
    level[y] = level[y].join('');
  }
});
canvas.addEventListener('mousedown', function(e) {
  var x = e.pageX - canvas.offsetLeft;
  var y = e.pageY - canvas.offsetTop;
  x = (x-x%scale)/scale;
  y = (y-y%scale)/scale;
  if (current == 'player') {
    var l = 0;
    while (l<level.length) {
      level[l] = level[l].split('');
      var q = 0;
      while (q<level[l].length) {
        if (level[l][q] == '@') {
          level[l][q] = ' ';
        }
        q++;
      }
      level[l] = level[l].join('');
      l++;
    }
    level[y] = level[y].split('');
    level[y][x] = '@';
    level[y] = level[y].join('');
  }
  if (current == 'ai_n') {
    level[y] = level[y].split('');
    if (level[y][x] == 'I') {
      level[y][x] = ' '; 
    } else {
      level[y][x] = 'I';
    }
    level[y] = level[y].join('');
  }
  if (current == 'ai_s') {
    level[y] = level[y].split('');
    if (level[y][x] == 'A') {
      level[y][x] = ' ';
    } else {
      level[y][x] = 'A';
    }
    level[y] = level[y].join('');
  }
  if (current == 'ai_d') {
    level[y] = level[y].split('');
    if (level[y][x] == 'W') {
      level[y][x] = ' ';
    } else {
      level[y][x] = 'W';
    }
    level[y] = level[y].join('');
  }
  if (current == 'ai_c') {
    level[y] = level[y].split('');
    if (level[y][x] == 'C') {
      level[y][x] = ' ';
    } else {
      level[y][x] = 'C'
    }
    level[y] = level[y].join('');
  }
  if (current == 'ai_t_n') {
    level[y] = level[y].split('');
    if (level[y][x] == 'T') {
      level[y][x] = ' ';
    } else {
      level[y][x] = 'T';
    }
    level[y] = level[y].join('');
  }
  if (current == 'ai_t_u') {
    level[y] = level[y].split('');
    if (level[y][x] == 'U') {
      level[y][x] = ' ';
    } else {
      level[y][x] = 'U';
    }
    level[y] = level[y].join('');
  }
  if (current == 'wall') {
    level[y] = level[y].split('');
    if (level[y][x] == '#') {
      level[y][x] = ' ';
    } else {
      level[y][x] = '#';
    }
    level[y] = level[y].join('');
  }
  if (current == 'strong') {
    level[y] = level[y].split('');
    if (level[y][x] == '2') {
      level[y][x] = ' ';
    } else {
      level[y][x] = '2';
    }
    level[y] = level[y].join('');
  }
  if (current == 'weak') {
    level[y] = level[y].split('');
    if (level[y][x] == '1') {
      level[y][x] = ' ';
    } else {
      level[y][x] = '1';
    }
    level[y] = level[y].join('');
  }
  if (current == 'void') {
    level[y] = level[y].split('');
    if (level[y][x] == '=') {
      level[y][x] = ' ';
    } else {
      level[y][x] = '='
    }
    level[y] = level[y].join('');
  }
})
document.addEventListener('mousemove', function(e) {
  var x = e.pageX - canvas.offsetLeft;
  var y = e.pageY - canvas.offsetTop;
  x = (x-x%scale)/scale;
  y = (y-y%scale)/scale;
  mousepos = [x, y];
});
document.addEventListener('keydown', function(e) {
  if (e.key == 'Enter') {
    var compiledLevel = 'levelReader([';
    var l = 0;
    while (l<level.length) {
      compiledLevel += "'"+level[l]+"',";
      l++;
    }
    compiledLevel = compiledLevel.split('');
    compiledLevel.pop();
    compiledLevel = compiledLevel.join('');
    compiledLevel += '], m);';
    document.getElementById('output').innerHTML = '<pre>'+compiledLevel+'</pre>';
  }
});
function render() {
  draw.clearRect(0, 0, 500, 500);
  draw.fillStyle = '#f8f82f';
  draw.fillRect(0, 0, 500, 500);
  if (grid) {
    var l = 0;
    while (l<30) {
      draw.strokeStyle = '#000000';
      draw.beginPath();
      draw.moveTo(l*scale, 0);
      draw.lineTo(l*scale, 500);
      draw.stroke();
      l++;
    }
    var l = 0;
    while (l<30) {
      draw.strokeStyle = '#000000';
      draw.beginPath();
      draw.moveTo(0, l*scale);
      draw.lineTo(500, l*scale);
      draw.stroke();
      l++;
    }
  }
  draw.fillStyle = '#A9A9A9';
  draw.fillRect(mousepos[0]*scale, mousepos[1]*scale, scale, scale);
  var l = 0;
  while (l<level.length) {
    var q = 0;
    while (q<level[l].length) {
      if (level[l][q] == '@') {
        draw.fillStyle = '#FF0000';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '=') {
        draw.fillStyle = '#000000';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == 'I') {
        draw.fillStyle = '#ff00f0';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == 'A') {
        draw.fillStyle = '#8B008B';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == 'W') {
        draw.fillStyle = '#00008b';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == 'C') {
        draw.fillStyle = '#00FF00';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '#') {
        draw.fillStyle = '#ADD8E6';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '2') {
        draw.fillStyle = '#F6F0BC';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '1') {
        draw.fillStyle = '#808080';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == 'T') {
        draw.fillStyle = '#81FF23';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == 'U') {
        draw.fillStyle = '#F81A92';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      q++;
    }
    l++;
  }
}
setInterval(render, 30);
} catch(e) {alert(e)}
</script>
