<canvas id='canvas' width='500' height='500' style='border: 1px solid black;'></canvas>
<script src='/JSON.js'></script>
<script>
  var canvas = document.getElementById('canvas');
  var draw = canvas.getContext('2d');
  draw.setTransform(1/3, 0, 0, 1/3, 0, 0);
  var update = {};
  
  class MegaSocket {
    constructor(url, options) {
      this.url = url;
      this.options = options;
      this.callstack = {
        open: [],
        close: [],
        message: [],
      }
      if (this.options == undefined) {
        this.options = {};
      }
      if (this.options.keepAlive == undefined) {
        this.options.keepAlive = true;
      }
      if (this.options.autoconnect == undefined) {
        this.options.autoconnect = true;
      }
      if (this.options.reconnect == undefined) {
        this.options.reconnect = true;
      }
      if (this.options.autoconnect) {
        this.status = 'connecting';
        this.connect();
      } else {
        this.status = 'idle';
        window.addEventListener('offline', function() { // Arrow Function Wont Work Due To Bind
          this.socket.close();
          this.socket.onclose();
        }.bind(this));
        if (this.options.reconnect) {
          window.addEventListener('online', function() {
            this.connect();
          }.bind(this))
        }
      }
    }
    connect() {
      try {
        this.socket = new WebSocket(this.url);
      } catch (e) {
        console.warn('WebSocket had trouble connecting to ' + this.url);
      }
      this.socket.onopen = function() {
        this.status = 'connected';
        if (this.options.keepAlive) {
          this.socket.keepAlive = setInterval(function() {
            this.socket.send('|');
          }.bind(this), 50000);
        }
        var l = 0;
        while (l < this.callstack.open.length) {
          this.callstack.open[l]();
          l++;
        }
      }.bind(this);
      this.socket.onmessage = function(data) {
        try {
          data = window.jsonpack.unpack(Helper.de(data.data));
        } catch (e) {
          alert('Error converting jsonpack from websocket message: ' + data.data);
        }
        // custom error handling for server
        if (data.status === 'error') {
          alert('WebSocket Error: ' + data.message);
          return;
        }
        // end
        var l = 0;
        while (l < this.callstack.message.length) {
          this.callstack.message[l](data);
          l++;
        }
      }.bind(this);
      this.socket.onclose = function() {
        clearInterval(this.socket.keepAlive);
        this.status = 'disconnected';
        var l = 0;
        while (l < this.callstack.close.length) {
          this.callstack.close[l]();
          l++;
        }
        if (this.options.reconnect) {
          this.connect();
        }
      }.bind(this);
    }
    on(event, operation) {
      if (event == 'connect') {
        this.callstack.open.push(operation);
      }
      if (event == 'message') {
        this.callstack.message.push(operation);
      }
      if (event == 'close') {
        this.callstack.close.push(operation);
      }
    }
    no(event) {
      if (event == 'connect') {
        this.callstack.open = [];
      }
      if (event == 'message') {
        this.callstack.message = [];
      }
      if (event == 'close') {
        this.callstack.close = [];
      }
    }
    send(data) {
      data = Helper.en(window.jsonpack.pack(data));
      this.socket.send(data);
    }
    close() {
      this.socket.close();
    }
  }

  class Helper {
    static en(c) {var x='charCodeAt',b,e={},f=c.split(""),d=[],a=f[0],g=256;for(b=1;b<f.length;b++)c=f[b],null!=e[a+c]?a+=c:(d.push(1<a.length?e[a]:a[x](0)),e[a+c]=g,g++,a=c);d.push(1<a.length?e[a]:a[x](0));for(b=0;b<d.length;b++)d[b]=String.fromCharCode(d[b]);return d.join("")}

    static de(b) {var a,e={},d=b.split(""),c=d[0],f=d[0],g=[c],h=256,o=256;for(b=1;b<d.length;b++)a=d[b].charCodeAt(0),a=h>a?d[b]:e[a]?e[a]:f+c,g.push(a),c=a.charAt(0),e[o]=f+c,o++,f=a;return g.join("")}
  }
  
  var socket;
  window.onload = function() {
    socket = new MegaSocket('wss://'+window.location.hostname+'/ffa-server', {
      keepAlive: false,
      reconnect: false,
      autoconnect: true,
    });

    socket.on('connect', function() {
      socket.send({
        username: '[Spector]',
        type: 'join',
        tank: {
            t: false, // thermal [J]
            x: 0, // x [U, J]
            y: 0, // y [U, J]
            r: 0, // rotation [U, J]
            p: 0, // pushback [U, J]
            h: .00001, // max health [J]
            ra: -5, // rank [J]
            br: 0, // base rotation [J]
            u: '[Spector]', // username [J]
            ba: 0, // base image stage [U, J]
            c: 'normal', // class [J]
            co: undefined, // cosmetic [J]
            m: 0,
          },
      });
    });

    socket.on('message', function(data) {
      if (data.event === 'hostupdate') {
        for (var property in data) {
          update[property] = data[property];
        }
        drawMap();
      }
    });

    function drawTank(t) {
      draw.fillStyle = 'red';
      draw.fillRect(t.x, t.y, 40, 40);
    }

    function drawShot(s) {
      draw.fillStyle = 'black';
      draw.fillRect(s.x, s.y, 5, 5);
    }

    function drawBlock(b) {
      draw.fillStyle = 'blue';
      draw.fillRect(b.x, b.y, 50, 50);
    }

    function drawMap() {
      draw.clearRect(0, 0, 1500, 1500);
      h = update;
      var l = 0;
      while (l<h.tanks.length) {
        drawTank(h.tanks[l]);
        l++;
      }
      l = 0;
      while (l<h.bullets.length) {
        drawShot(h.bullets[l]);
        l++;
      }
      l = 0;
      while (l<h.blocks.length) {
        drawBlock(h.blocks[l]);
        l++;
      }
    }
  }
</script>
