<div>
  <canvas width='0' height='0' style='border: 1px solid black' id='canvas'></canvas>
  <canvas style='display: none;' width='0' height='0' id='image-generator'></canvas>
</div>
<div>
  <button id='layer1' onclick='layerSwitch(1);'>Blocks</button>
  <button id='layer2' onclick='layerSwitch(2);'>Placeables</button>
  <button id='layer3' onclick='layerSwitch(3);'>Collision</button>
  <button id='layer4' onclick='layerSwitch(4);'>Particles</button>
  <button id='layer5' onclick='layerSwitch(5);'>Special</button>
  <button id='grid' onclick='grid = !grid;'>Grid Toggle</button>
  <button id='export' onclick='compile();'>Export</button>
  <b id='output'></b>
</div>
<div id='layer1-buttons'>
</div>
<div id='layer2-buttons'>
</div>
<div id='layer3-buttons'>
</div>
<div id='layer4-buttons'>
</div>
<div id='layer5-buttons'>
</div>
<div>
  <input id='resize-text' />
  <button id='resize'>Resize</button>
</div>
<script>
  window.onload = function() {
    resize(31, 25);
    layerSwitch(1);
  }
  // important variables
  var currentLayer = 1, currentBlock = 'null', grid = true;

  var canvas = document.getElementById('canvas');
  var l1b = document.getElementById('layer1');
  var l2b = document.getElementById('layer2');
  var l3b = document.getElementById('layer3');
  var l4b = document.getElementById('layer4');
  var l5b = document.getElementById('layer5');
  var l1bs = document.getElementById('layer1-buttons');
  var l2bs = document.getElementById('layer2-buttons');
  var l3bs = document.getElementById('layer3-buttons');
  var l4bs = document.getElementById('layer4-buttons');
  var l5bs = document.getElementById('layer5-buttons');
  var r = document.getElementById('resize');
  var rt = document.getElementById('resize-text');
  // Layer 1 - Background 
  // Layer 2 - Blocks
  // Layer 3 - Collision (not drawn)
  // Layer 4 - Placables
  // Layer 5 - Particles
  /*
  	{
  		back: base64 image
  		surface: base64 image
  		collision: [
  			{
  				x:
  				y:
  			},
  			...
  		],
  		particle: [
  			{
  				x:
  				y:
  			},
  			...
  		],
  		placables: [
  			{
  				id:
  				x:
  				y:
  			}
  		],
  	}
  */
  var current = 4;
  var layers = [
    [],
    [],
    [],
    [],
    [],
    [],
  ];

  var blocks = {
    bricks: 'bricks',
    bricks_wall: 'bricks_wall',
    cloud: 'cloud',
    deep_water: 'deep_water',
    dirt: 'dirt',
    dirt_wall: 'dirt_wall',
    stone: 'stone',
    stone_wall: 'stone_wall',
    wood: 'wood',
    wood_wall: 'wood_wall',
    grass_block: 'grass_block',
  }

  var placeables = {
    dark_tree: 'dark_tree',
    grass_plant: 'grass1',
    lantern: 'lantern',
    lantern_chain: 'lantern_chain',
    light_tree: 'light_tree',
    teleport_crystal: 'teleport_crystal',
    torch: 'torch',
    wall_torch: 'wall_torch',
  }

  var particles = {
    bubbles: 'bubbles',
    darkness: 'darkness',
    smoke: 'smoke',
    snow: 'snow',
  }

  var special = {
    breakable: 'breakable',
    chest: 'closed_chest',
    fire_block: 'fire_block',
    health_crystal: 'health_crystal',
    lit_campfire: 'lit_campfire',
    mana_crystal: 'mana_crystal',
    silver_chest: 'silver_chest_closed',
    spike_floor: 'spike_floor',
    shield_crystal: 'shield_crystal',
    unlit_campfire: 'unlit_campfire',
  }

  for (var property in blocks) {
    var src = blocks[property];
    blocks[property] = new Image();
    blocks[property].src = '/images/level_editor/blocks/'+src+'.png';
    var b = document.createElement('BUTTON');
    b.innerHTML = property;
    b.id = property;
    b.class = 'option';
    b.addEventListener('click', blockSwitch);
    l1bs.appendChild(b);
  } // Load images and add image buttons to editor
  var b = document.createElement('BUTTON');
  b.innerHTML = 'Erase';
  b.id = 'erase1';
  b.addEventListener('click', function(e) {
    id = e.currentTarget.id;
    for (var property in blocks) {
      document.getElementById(property).style.fontWeight = 'normal';
    }
    document.getElementById('erase1').style.fontWeight = 'bold';
    currentBlock = 'null';
  });
  l1bs.appendChild(b);

  for (var property in placeables) {
    var src = placeables[property];
    placeables[property] = new Image();
    placeables[property].src = '/images/level_editor/placeables/'+src+'.png';
    var b = document.createElement('BUTTON');
    b.innerHTML = property;
    b.id = property;
    b.class = 'option';
    b.addEventListener('click', blockSwitch);
    l2bs.appendChild(b);
  }
  var b = document.createElement('BUTTON');
  b.innerHTML = 'Erase';
  b.id = 'erase2';
  b.addEventListener('click', function(e) {
    id = e.currentTarget.id;
    for (var property in placeables) {
      document.getElementById(property).style.fontWeight = 'normal';
    }
    document.getElementById('erase2').style.fontWeight = 'bold';
    currentBlock = 'null';
  });
  l2bs.appendChild(b);

  for (var property in particles) {
    var src = particles[property];
    particles[property] = new Image();
    particles[property].src = '/images/level_editor/particles/'+src+'.png';
    var b = document.createElement('BUTTON');
    b.innerHTML = property;
    b.id = property;
    b.class = 'option';
    b.addEventListener('click', blockSwitch);
    l4bs.appendChild(b);
  }
  var b = document.createElement('BUTTON');
  b.innerHTML = 'Erase',
  b.id = 'erase4';
  b.addEventListener('click', (e) => {
    id = e.currentTarget.id;
    for (var property in particles) {
      document.getElementById(property).style.fontWeight = 'normal';
    }
    document.getElementById('erase4').style.fontWeight = 'bold';
    currentBlock = 'null';
  });
  l4bs.appendChild(b);

  for (var property in special) {
    var src = special[property];
    special[property] = new Image();
    special[property].src = '/images/level_editor/special/'+src+'.png';
    var b = document.createElement('BUTTON');
    b.innerHTML = property;
    b.id = property;
    b.class = 'option';
    b.addEventListener('click', blockSwitch);
    l5bs.appendChild(b);
  }
  var b = document.createElement('BUTTON');
  b.innerHTML = 'Erase',
  b.id = 'erase5';
  b.addEventListener('click', (e) => {
    id = e.currentTarget.id;
    for (var property in special) {
      document.getElementById(property).style.fontWeight = 'normal';
    }
    document.getElementById('erase5').style.fontWeight = 'bold';
    currentBlock = 'null';
  });
  l5bs.appendChild(b);

  var b = document.createElement('BUTTON');
  b.innerHTML = 'Solid :D';
  b.id = 'solid';
  b.class = 'option';
  b.addEventListener('click', collisionSwitch);
  l3bs.appendChild(b);
  b = document.createElement('BUTTON');
  b.innerHTML = 'Not Solid D:';
  b.id = 'non-solid';
  b.addEventListener('click', collisionSwitch);
  l3bs.appendChild(b);

  r.addEventListener('click', function() {
    var str = rt.value;
    str = str.split('x');
    resize(str[0], str[1]);
  }); // resize

  function resize(width, height) {
    var l = 0;
    while (l < layers.length) {
      var q = 0;
      var temp = [];
      while (q < width) {
        temp.push({
          id: 'null',
        });
        q++;
      }
      var q = 0;
      var temp2 = [];
      while (q < height) {
        temp2.push(temp);
        q++;
      }
      layers[l] = JSON.parse(JSON.stringify(temp2));
      l++;
    }
    canvas.width = 20 * width;
    canvas.height = 20 * height;
  }

  function layerSwitch(id) {
    var l = 1;
    while (l<6) {
      window['l'+l+'bs'].style.display = 'none';
      window['l'+l+'b'].style.fontWeight = 'normal';
      l++;
    }
    window['l'+id+'bs'].style.display = 'block';
    window['l'+id+'b'].style.fontWeight = 'bold';
    currentLayer = id;
    currentBlock = 'null';
  }

  function blockSwitch(e) {
    id = e.currentTarget.id;
    if (currentLayer === 1) {
      for (var property in blocks) {
        document.getElementById(property).style.fontWeight = 'normal';
      }
      document.getElementById('erase1').style.fontWeight = 'normal';
    } else if (currentLayer === 2) {
      for (var property in placeables) {
        document.getElementById(property).style.fontWeight = 'normal';
      }
      document.getElementById('erase2').style.fontWeight = 'normal';
    } else if (currentLayer === 4) {
      for (var property in particles) {
        document.getElementById(property).style.fontWeight = 'normal';
      }
      document.getElementById('erase4').style.fontWeight = 'normal';
    } else if (currentLayer === 5) {
      for (var property in special) {
        document.getElementById(property).style.fontWeight = 'normal';
      }
      document.getElementById('erase5').style.fontWeight = 'normal';
    }
    document.getElementById(id).style.fontWeight = 'bold';
    currentBlock = id;
  }

  function collisionSwitch(e) {
    id = e.currentTarget.id;
    document.getElementById('solid').style.fontWeight = 'normal';
    document.getElementById('non-solid').style.fontWeight = 'normal';
    document.getElementById(id).style.fontWeight = 'bold';
    currentBlock = id.replace('non-solid', 'null');
  }

  var loop;
  function mousedown(e) {
    clearInterval(loop);
    loop = setInterval(looper);
  }

  var mouse = {};
  function mousemove(e) {
    var x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
    var y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
    x -= canvas.offsetLeft;
    y -= canvas.offsetTop;
    x = Math.floor(x / 20);
    y = Math.floor(y / 20);
    mouse.x = x;
    mouse.y = y;
  }

  function looper(e) {
    if (mouse.x >= 0 && mouse.x < canvas.width/20 && mouse.y >=0 && mouse.y < canvas.height/20) {
      layers[currentLayer][mouse.y][mouse.x].id = currentBlock;
    }
  }

  function mouseup(e) {
    clearInterval(loop);
  }


  function render(c) {
    c = c || canvas;
    var draw = c.getContext('2d');
    draw.clearRect(0, 0, c.width, c.height);
    var layer = 0;
    while (layer<currentLayer+1) {
      if (!(layer === 3 && currentLayer !== 3)) {
        var x = 0;
        while (x<c.width/20) {
          var y = 0;
          while (y<c.height/20) {
            if (layers[layer][y][x].id === 'solid') {
              draw.fillStyle = '#000000';
              draw.fillRect(x*20, y*20, 20, 20);
            } else if (layers[layer][y][x].id != 'null') {
              if (layer === 1) {
                draw.drawImage(blocks[layers[layer][y][x].id], x*20, y*20, 20, 20);
              } else if (layer === 2) {
                if (layers[layer][y][x].id.includes('tree')) {
                  draw.drawImage(placeables[layers[layer][y][x].id], x*20, (y-1.5)*20, 20, 50);
                } else {
                  draw.drawImage(placeables[layers[layer][y][x].id], x*20, y*20, 20, 20);
                }
              } else if (layer === 4) {
                draw.drawImage(particles[layers[layer][y][x].id], x*20, y*20, 20, 20);
              } else if (layer === 5) {
                if (layers[layer][y][x].id.includes('campfire')) {
                  draw.drawImage(special[layers[layer][y][x].id], (x-2)*20, (y-2)*20, 60, 60);
                } else if (layers[layer][y][x].id === 'teleport_crystal') {
                  draw.drawImage(special[layers[layer][y][x].id], (x-2)*20, (y-3.5)*20, 60, 90);
                } else if (layers[layer][y][x].id === 'shield_crystal') {
                  draw.drawImage(special[layers[layer][y][x].id], x*20+5, (y-1)*20, 10, 20);
                } else {
                  draw.drawImage(special[layers[layer][y][x].id], x*20, y*20, 20, 20);
                }
              }
            }
            y++;
          }
          x++;
        }
      }
      layer++;
    }
    if (grid) {
      draw.strokeStyle = '#000000';
      draw.lineWidth = 1;
      var l = 0;
      while (l<c.width/20) {
        draw.beginPath();
        draw.moveTo(l*20, 0);
        draw.lineTo(l*20, c.height);
        draw.stroke();
        l++;
      }
      l = 0;
      while (l<c.height/20) {
        draw.beginPath();
        draw.moveTo(0, l*20);
        draw.lineTo(c.width, l*20);
        draw.stroke();
        l++;
      }
    }
  }

  function compile() {
    var c = document.getElementById('image-generator');
    c.width = canvas.width;
    c.height = canvas.height;
    var oldLayer = currentLayer;
    var oldGrid = grid;
    grid = false;
    currentLayer = 2;
    render(c);
    grid = oldGrid;
    var img = c.toDataURL();
    currentLayer = oldLayer;
    var y = 0, c = [];
    while (y<layers[3].length) {
      var x = 0;
      while (x<layers[3][y].length) {
        if (layers[3][y][x].id === 'solid') {
          c.push({
            x: x,
            y: y,
          });
        }
        x++;
      }
      y++;
    }
    var compiled = {
      i: img,
      c: c,
    };
    document.getElementById('output').innerHTML = JSON.stringify(compiled);
  }
  /* Add Listeners */
  document.addEventListener('mousedown', mousedown);
  document.addEventListener('mousemove', mousemove);
  document.addEventListener('mouseup', mouseup);
  setInterval(render, 1000/60); // 60 fps renderer
</script>
