@font-face {
  font-family: Ubuntu;
  src: url(Ubuntu-Regular.ttf);
}
* {
  font-family: Ubuntu;
}
.h1 {
  font-size: 80px;
  margin-bottom: 30px;
}
.hr {
  width: 80%
}
.body {
  text-align: center;
  color: black;
  margin: 0px;
  background-color: white;
}
.footer {
  margin-top: 100px;
  color: black;
}
.background {
  padding-top: 50px;
  padding-bottom: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/youtube-converter/youtube-background.png);
}
@media (max-width:810px) {
  .background {
    padding-bottom: 250px;
  }
}
@media(max-width:674px) {
  svg {
    display: none;
  }
}
#url {
  margin-bottom: 30px;
}
.input {
  text-align: center;
  color: black;
  background-color: white/*#273036*/;
  border: 1px solid #273036;
  margin-right: -5px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.input:focus {
  outline: none;
}
.input::-webkit-input-placeholder {
  color: black;
  font-style: italic;
  opacity: .5;
}
.button, .input {
  font-family: inherit;
  font-size: 20px;
}
.button {
  color: white;
  background-color: #273036;
  border: 1px solid #273036;
}
#submit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 2px solid #273036;
  border-right: 2px solid #273036;
  border-bottom: 2px solid #273036;
}
.quality-list {
  margin-right: -5px;
  display: inline-block;
  background-color: #273036;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 2px solid #273036;
  border-top: 1px solid #273036;
  border-left: 2px solid #273036;
  border-bottom: 1px solid #273036;
}
.svg {
  margin-top: -150px;
}
.select {
  color: white;
  background-color: #273036;
  border: none;
  font-size: 20px;
  margin: 0px;
  margin-right: -2px;
  height: 27px;
  outline: none;
}
.main {
  margin-top: 20px;
  background-color: white;
  color: black;
}
.main p {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
}
.h2 {
  font-size: 50px;
}
.span {
  margin-top: 5px;
  display: block;
  text-align: center;
  margin-left: 35%;
  width: 30%;
  margin-right: 35%;
  font-size: 30px;
}
