@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  margin: 0px;
}
* {
  font-family: 'Open Sans', sans-serif;
}
#bold {
  font-family: 'Open Sans', sans-serif;
}
button, input {
  font-family: inherit;
  font-weight: inherit;
}
