header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 70px;
  z-index: 100;
  top: 0px;
  left: 0px;
  text-align: center;
  overflow-y: visible;
  border-bottom: 1px solid lightgray;
}
  
.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 70px;
}

#logo {
  position: absolute;
  top: 0px;
  left: 70px;
  font-size: 25px;
}
  
.nav-button {
  border: none;
  border-top: 5px solid transparent;
  height: 65px;
  padding-bottom: 10px;
  font-size: 20px;
  color: black;
  background-color: white;
}

.nav-button:hover:not(#logo):not(#create-account) {
  background-color: white;
  border: none;
  color: orangered;
  border-top: 5px solid orangered;
  transition: .2s;
}

#logo {
  border: none;
  padding: 5px;
  background-color: white;
}
  
#create-account {
  border: none;
  padding: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  background-color: orangered;
  padding-left: 30px;
  padding-right: 30px;
  height: 71px;
}

#expand {
  color: white;
  font-size: inherit;
  transition: 1s
}

#expand:hover {
  transition: 1s;
  transform: scale(1.2);
}
